* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght.ttf);
} */

h1, a, p, li, span {
    font-family: 'Montserrat', sans-serif;
}

@keyframes souls {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes show {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}


.container {
    width: 1170px;
    margin: 0 auto;
}

.header, .footer{
    background: #393939 no-repeat center top / cover;
}

.header * {
    display: flex;
    align-items: center;
}

.nav {
    height: 130px;
}

.logo a{
    text-decoration: none;
}

.logo h1 {
    margin-left: 10px;
    color: white;
    font-size: 36px;
}

.right-side {
    margin-left: auto;
}

.menu {
    margin-right: 55px;
    cursor: pointer;
    display: block;
    z-index: 100;
    /* transition: all 0.5s ease; */
}

.drop h1 {
    font-size: 32px;
    color: white;
}

.drop img {
    margin-left: 11px;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 200px;
    animation: show 300ms ease-in-out forwards;
    transform-origin: top center;
}

.drop-content li>a {
    font-size: 15px;
    display: block;
    padding: 12px 16px;
    width: 200px;
    text-decoration: none;
    border: 1px solid white;
    border-bottom: none;
    color: white;
    background-color: #393939;
    transition: all 0.5s ease;
}

.drop-content:nth-child(2) li>a {
    border: 1px solid white;
}

.menu:hover .drop-content {
    display: block;
}

.drop-content li>a:hover {
    background-color: #5A5858;
}

.balance {
    position: relative;
}

.balance h1 {
    color: white;
    font-size: 20px;
    margin-left: 19px;
}

.ghost {
    margin-left: 7px;
}

.ghost-description {
    display: inline-block;
}

.ghost-description span {
    position: absolute;
    color:white;
}

.description {
    position: absolute;
    display: none;
    animation: souls 500ms ease-in-out forwards;
    transform-origin: center center;
}

.ghost-description:hover .description{
    display: inline-block;
}

