@import url(../css/header.css);
@import url(../css/footer.css);

.main {
    /* height: 456px; */
}

.photo-view {
    width: 570px;
    height: 383px;
    display: inline-block;
    margin-top: 94px;
    margin-bottom: 122px;
}

.definition {
    display: inline-block;
    width: 413px;
    vertical-align: top;
    margin-left: 147px;
    margin-top: 70px;
    align-items: middle;
}

.definition h1 {
    /* display: inline-block; */
    font-size: 32px;
    margin-left: 141px;
}

.definition p {
    margin-top: 12px;
    font-size: 20px;
}

.main-img-position {
    height: 319px;
    width: 100%;
    text-align: center;
}

.main-img {
    height: 100%;
    width: auto;
    position: relative;
    border: 4px solid #393939;
}

.next {
    position: relative;
    margin-left: 59px;
    cursor: pointer;
}

.prev {
    position: relative;
    /* margin-left: 59px; */
    cursor: pointer;

}

.img-carousel {
    margin-top: 10px;
    /* display: inline-block; */
}

.img-stack {
    display: inline-block;
}

.img-stack img{
    height: 56px;
    width: 56px;
    margin-left: 71px;
    border: 2px solid #393939;
}